<form action="{{ url('default_show') }}" method="post" enctype="multipart/form-data">
    <label>
        Science file
        <input type="file" name="science" />
    </label>
    <label>
        Persistent file
        <input type="file" name="persistent" />
    </label>
    <button type="submit">Submit</button>
</form>